<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
        }

        .email-container {
            max-width: 600px;
            margin: 0 auto;
            background: #ffffff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            overflow: hidden;
        }

        .email-header {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 20px;
        }

        .email-header h1 {
            margin: 0;
            font-size: 24px;
        }

        .email-body {
            padding: 20px;
            text-align: center;
        }

        .email-body h2 {
            font-size: 20px;
            color: #333333;
        }

        .email-body p {
            font-size: 16px;
            color: #555555;
            margin: 20px 0;
        }

        .otp-code {
            display: inline-block;
            font-size: 24px;
            color: #4CAF50;
            background-color: #f9f9f9;
            padding: 10px 20px;
            border: 1px dashed #4CAF50;
            border-radius: 8px;
            margin: 10px 0;
        }

        .email-footer {
            background-color: #f9f9f9;
            text-align: center;
            padding: 15px;
            font-size: 14px;
            color: #777777;
        }

        .email-footer a {
            color: #4CAF50;
            text-decoration: none;
        }

        @media (max-width: 600px) {
            .email-container {
                width: 100%;
            }

            .email-header h1 {
                font-size: 20px;
            }

            .email-body h2 {
                font-size: 18px;
            }

            .otp-code {
                font-size: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="email-container">
        <!-- Header -->
        <div class="email-header">
            <h1>Reset Password</h1>
        </div>
        <!-- Body -->
        <div class="email-body">
            <h2>Your One-Time Password (OTP)</h2>
            <p>Please use the OTP below to reset your password. This OTP is valid for the next 5
                minutes.</p>
            <div class="otp-code">{{data.verificationCode}}</div>
            <p>If you did not request this code, please ignore this email or contact our support team immediately.</p>
        </div>
        <!-- Footer -->
        <div class="email-footer">
            <p>&copy; 2025 Albiorix Technology Pvt. Ltd. All rights reserved.</p>
            <p>Need help? <a href="mailto:niravk.albiorix@gmail.com">Contact Support</a></p>
        </div>
    </div>
</body>

</html>